.navbar {
  display: flex;
  background-color: #272F59;
  min-height: 10vh;
  align-items: center;
  justify-content: space-around;
}

.navbar > a:active {
  background-color: red;
}

.navbar > a {
  color: white;
  text-decoration: none;
  
}

