.applianceCreator {
  margin: 1vh 0 1vh 0;
  display: grid;
}

.applianceCreator__data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 6vh;
}

.applianceCreator > a {
  margin-top: 1vh;
  justify-self: center;
}
